html,
body {
  scroll-behavior: smooth;
  font-family: 'poppins', 'sans-serif';
}

section,
div {
  scroll-margin-top: 150px;
}

.gradient {
  background: linear-gradient(180deg, #ff00cc -37.84%, #333399 106.76%);
}
